<h3>ACERCA DE MÍ</h3>
<hr>

<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <img class="rounded" src="../../assets/albert.JPG" alt="Albertgc">
    </div>
    <div class="col-12 col-md-6 mb-3">
        <h3>Acerca de mí</h3>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur voluptatem at accusamus quos sunt, quo numquam debitis eaque enim voluptate nobis, placeat corrupti, nisi explicabo totam facere. Voluptate, explicabo eveniet.</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione eos quam at alias dignissimos omnis ipsum laborum animi deleniti dolorum tempore nisi, quidem reprehenderit aperiam laboriosam iure commodi delectus sint.</p>

        <h4>Skills</h4>
        <ul>
            <li class="mb-2">
                <strong>Laravel</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="mb-2">
                <strong>Angular</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="mb-2">
                <strong>React</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
