<h3>ACERCA DE MÍ</h3>
<hr>

<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <img class="rounded shadow" src="../../assets/albert.JPG" alt="Albertgc">
        <div class="col-md-12 text-center mt-2">
            <h3>Ingeniero de Sistemas / Desarrollador Web</h3>
            <h4>Gualberto Cuiza Villca</h4> <span class="text-muted">18/02/1995</span>
        </div>
        <div>
            <p>Soy desarrollador web con más de un año de experiencia. Busco trabajar como desarrollador front-end o back-end en una empresa tecnológica donde prime los valores personales.</p>
    
            <p>Me considero alguién apasionado por la tecnología, que le emosiona resolver problemas de la vida real a través el. Durante este tiempo he estado reforzando y aprendiendo mucho con plataformas en línea como Platzi y Udemy. Por lo que desarrollé varios proyectos personales y algunos trabajos de sistematización para terceros.</p>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">

        <h4>Conocimientos en:</h4>
        <ul>
            <li class="mb-2">
                <strong>Laravel</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="mb-2">
                <strong>Angular</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="mb-2">
                <strong>Vue</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="mb-2">
                <strong>Bases de datos Relaciones</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="mb-2">
                <strong>Bases de datos No Relaciones</strong>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
        <h4>Además:</h4>
        <ul>
            <li class="mb-2">
                <strong>Lenguajes de Programación:</strong> Php, JavaScript, TypeScript, Java
            </li>
            <li class="mb-2">
                <strong>Bases de datos:</strong> MySql, MongoDB, Real time y Firestore de Firebase 
            </li>
            <li class="mb-2">
                <strong>Estilos:</strong> [Css => Flexbox, Grid css, Responsive design], [Fremeworks => Bootstrap, Tailwind css, Angular material, Vuetify]
            </li>
            <li class="mb-2">
                <strong>Control de Versiones | Repositorios:</strong> Git, GitHub, GitLab 
            </li>
            <li class="mb-2">
                <strong>Experiencia con Marco de Desarrollo Ágil Scrum</strong>
            </li>
        </ul>
    </div>
</div>
