<h3>CONTÁCTAME </h3>
<hr>

<div class="row">
    <div class="col-12 col-md-6">
        <h3>Send me an email in this form</h3>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mensaje</label>
              <textarea type="password" class="form-control" id="exampleInputPassword1"></textarea>
            </div>
            <button type="submit" class="btn btn-info float-right">Enviar</button>
          </form>
    </div>
    <div class="col-12 col-md-6">
      <h3>Socials Networks</h3>
      <div class="d-flex flex-column align-items-center justify-contents-between mt-2">
        <p>
          <a href="https://www.linkedin.com/in/gualberto-cuiza-villca-79a66617b/" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
            <span class="ml-2">Gualberto Cuiza Villca</span>
          </a>
        </p>
        <p>
          <a href="https://github.com/albertgc1" target="_blank">
            <i class="fa fa-github fa-2x"></i>
            <span class="ml-2">albertgc1</span>
          </a>
        </p>
        <p>
          <a href="https://www.instagram.com/albertgc7/" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
            <span class="ml-2">@albertgc7</span>
          </a>
        </p>
        <p>
          <a href="https://www.facebook.com/albert.cuizavillca/" target="_blank">
            <i class="fa fa-facebook-official fa-2x"></i>
            <span class="ml-2">GualbertoCuiza</span>
          </a>
        </p>
      </div>
    </div>
</div>
