<div *ngIf="project" class="card shadow mb-4">
  <img class="card-img-top shadow-sm img-fluid" src="{{ project.photo }}" alt="{{ project.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ project.title }}</h5>
    <p class="card-text" [innerHTML]="project.description | excerpt"></p>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <img
          class="icon mr-1"
          *ngFor="let icon of project.tools"
          src="{{ '../../../../assets/icons/' + icon + '.svg' }}"
          alt="{{ icon }}">
      </div>
      <a [routerLink]="['detail', project.id]" class="btn btn-info shadow btn-sm">Detalles</a>
    </div>
  </div>
</div>
