<div *ngIf="project" class="card shadow mb-4">
  <img src="../../../../assets/computers.jpg" class="card-img-top" alt="project">
  <div class="card-body">
    <h5 class="card-title">{{ project.title }}</h5>
    <p class="card-text">{{ project.description }}</p>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <img
          class="icon mr-1"
          *ngFor="let icon of project.tools"
          src="{{ '../../../../assets/icons/' + icon + '.svg' }}"
          alt="{{ icon }}">
      </div>
      <a [routerLink]="['/', project.id]" class="btn btn-info shadow btn-sm">Detalles</a>
    </div>
  </div>
</div>
