<footer class="p-3 bg-secondary">
    <div class="col-12 col-md-2 offset-md-5 d-flex justify-content-between">
        <a href="https://www.linkedin.com/in/gualberto-cuiza-villca-79a66617b/" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/albertgc1" target="_blank">
            <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/albertgc7/" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/albert.cuizavillca/" target="_blank">
            <i class="fa fa-facebook-official fa-2x"></i>
        </a>
    </div>
</footer>
